/*------------------------------*\
                PLANO
\*------------------------------*/

.plano {
    position: relative;

    padding: 10px;
    border: 1px solid #95a4a5;

    background-color:#fff;

    font-size: 1.4rem;
    
}

.plano--mais-popular::after {
    position: absolute;
    top: -10px;
    left: -10px;

    padding: 0 10px;

    background-color: #042D62;
    color: #fff;

    font-size: 0.7142em;
    line-height: 2.5em;

    content: "MAIS POPULAR";
}

.plano__cabecalho {
    margin: -10px;
    margin-bottom: 0;
    
    background-color: #00A4F0;
    color: #fff;

    text-align: center;
    line-height: 2.5;
    font-weight: normal;
    font-size: 2em;
}

.plano__preco {
    margin: 20px 0;

    text-align: center;
    font-size: 2em;

}

.plano__caracteristicas {
    padding: 0;
    min-height: 80px; /*pra que o tamanho do quadrado não fique mudando de acordo com a quantidade de características que eu adicionar. Vai ter que mudar isso se outro plano tiver muitas características.*/
    margin: 20px 0;

    font-size: 1em;

    list-style: none;
}

.plano__caracteristicas > li {
    text-align: center;
}

.plano__rodape {
    text-align: center;
}

/*------------------------------*\
                BOTÃO
\*------------------------------*/

.botao {
    display: inline-block;
    padding: 0.8em 1.2em;

    border-radius: 10px;
    
    background-color: #bbb;
    color: #fff;
    border: none;

    line-height: normal;
    font-size: 1em;
    text-decoration: none;
}

.botao:hover, .botao:focus {
    background-color: #aaa;
    color: #fff;

    text-decoration: none;
}

.botao--assinar, .botao--login {
    background-color: #0072A8;
}

.botao--assinar:hover, .botao--assinar:focus, 
.botao--login:hover, .botao--login:focus {
    background-color: #006b9d;
}

.botao--principal {
    background-color: #0072A8;
}

.botao--principal:hover, .botao--principal:focus {
    background-color: #006b9d;
}

/*------------------------------*\
                CHAMADA
\*------------------------------*/

.chamada {
    font-size: 1.6rem;
    text-align: center;
}

.chamada__titulo {
    margin: 0;

    color: #fff;

    font-size: 3.375em; /*Aqui eu quis 54px. Como a medida do PAI é 1.6rem (16px), tenho que dividir 54/16=3.375em. Poderia colocar 5.4rem, se usar a base do documento*/
    line-height: 0.9;
    text-shadow: 1px 1px #313131;
}

.chamada_subtitulo {
    margin: 60px 0;

    color: #fff;

    font-size: 1em;
}

.chamada__acao {
    font-size: 1em;
}

@media (min-width: 992px) {
    .chamada {
        padding-left: 10%;
        padding-right: 10%;

        font-size: 2.2rem;
    }
}

.chamada ul {
    list-style-type: none;
    color: #fff;
}

.chamada ul li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
}

.chamada ul li::before {
    content: "\2714";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1em;
    color: #fff;
}

/*------------------------------*\
                DEPOIMENTOS
\*------------------------------*/

.depoimento {
    font-size: 1rem;  
    color: #fff;  
}

@media(min-width: 992px) {
    .depoimento {
        padding-left: 15%;
        padding-right: 15%;

        font-size: 2.8rem;
    }
}

.depoimento >blockquote {
    position: relative;
    margin: 0;
    padding: 0 10px;

    text-align: center;
    font-size: 1em;
}

.depoimento > blockquote::before {
    position: absolute;
    left: -0.2em;
    top: -0.35em;
    

    color: #fff;

    font-size: 4em; /* 176px */

    content: "\201C";
}

.depoimento__autor {
    margin-top: 40px;

    color: #fff;
    text-align: center;
    font-size: 1em; /*Aqui de novo, lembrar de fazer a conta em relação ao PAI*/
}

.depoimento__autor > img {
    border-radius: 50%;
}

.depoimento__autor > p {
    margin-top: 10px;
}

/*------------------------------*\
                NAVEGAÇÃO
\*------------------------------*/
.navegacao {

}

.navegacao__imagem {
    margin: 0;
}

.navegacao--assinatura {
    text-align: center;
}

.navegacao__menu {
    float: right;
}

/*------------------------------*\
                BOTÃO CHAVEADOR
\*------------------------------*/

.botao-chaveador {
    width: 24px;
    height: 24px;

    border: none;
    background: none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    background-image: url(../imagens/botao-de-menu.png);
    
    outline: none;
}

@media(min-width: 992px) {
    .botao-chaveador {
        display: none;
    }
}

/*------------------------------*\
                MENU
\*------------------------------*/

.menu {
    margin: 0;
    
    font-size: 1.4rem;

    list-style: none;

}
.menu__item > a:not(.botao--login) {
    color: #00A4F0;
    text-decoration: none;
}


.menu__item > a:not(.botao--login):visited {
    color: #008ccc;
}

@media(max-width: 992px) {
    .menu {
        position: fixed;
        top:0;
        left:0;
        bottom: 0;
        
        display: none;
        width: 200px;
        padding: 20px;
        border-right: 1px solid #eee;
    
        background-color: #fbfbfb;

    }

    .menu--exibindo {
        display: block;
    }

    .menu__item {
        display: block;
    
        line-height: 3;
    }
    
    .menu__item--botao {
        margin-top: 20px;
    }
}

@media(min-width: 992px) {

    .menu__item {
        display: inline-block;
        padding-right: 20px;
    }

    .menu__item:last-of-type {
        padding-right: 0px;
    }
}

/*------------------------------*\
            TÍTULO-FORMULÁRIO
\*------------------------------*/
.titulo-formulario {
    margin: 0;
    margin-bottom: 40px;

    border-bottom: 1px solid #ccc;

    font-size: 2.6rem;
    font-weight: normal;
    color:#004b86;
}

/*------------------------------*\
            GRUPO-ENTRADA
\*------------------------------*/
.grupo-entrada {
    margin-bottom: 15px;
}

.grupo-entrada > label {
    display: block;

    font-weight: bold;
}

/*------------------------------*\
            CAMPO
\*------------------------------*/
.campo {
    display: block;
    width: 100%;
    height: 2.8em;

    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;

    background-color: #fff;

    font-size: 1.4rem;
}

/*------------------------------*\
        DESCRIÇÃO DAS IMAGENS
\*------------------------------*/
.descricao {
    position: relative;
    
    padding: 10px;
    
    border: #0072A8 solid 1px;
    border-radius: 5%;
    opacity: 1;
    color: #58d2ff;
}

.descricao h3 {
    font-size: 3rem;
    margin: 0;
}

.descricao p {
    font-size: 2rem;
    margin: 0;
}

.descricao-efeito {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.descricao-efeito h3 {
    font-size: 30px;
    margin: 0;
    color: #58d2ff;
}

.descricao-efeito p {
    font-size: 20px;
    margin: 0;
    color: #58d2ff;
}

/*------------------------------*\
        MURAL DE IMAGENS
\*------------------------------*/

.mural-simples {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mural-simples > img {
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.mural-efeito {
    position: relative;
    width: 100px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px fgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.3s;
    filter: grayscale(70%);
}

.mural-efeito img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.mural-efeito:hover {
    width: 600px;
    filter: grayscale(0);
}

.mural-efeito:hover .descricao-efeito {
    opacity: 1;
    transition-delay: 0.3s;
}

.mural-efeito:not(:hover) .descricao-efeito {
    opacity: 0;
    transition-delay: 0s;
    transition-duration: 0.2s;
}

.mural-efeito:not(:hover) {
    transition-delay: 0.2s;
}

/*------------------------------*\
        BOTÃO WHATSAPP
\*------------------------------*/

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25D366; /* Cor do WhatsApp */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.whatsapp-float img {
    width: 35px;
    height: 35px;
}

.whatsapp-float:hover {
    background-color: #128C7E; /* Cor mais escura ao passar o mouse */
}